html, body {
    background: white;
    color: black;
}

table {
    border-collapse: collapse;
    border: solid 2px black;
}

table tr > td,
table tr > th {
    padding: 0.5ex 0.5em;
}

table > thead {
    background: #ddddff;
    border-bottom: solid 2px black;
}

table > tbody > tr:nth-child(odd) {
    background: white;
}

table > tbody > tr:nth-child(even) {
    background: #eeeeee;
}

table > tbody > tr:nth-child(even) > td.good,
table > tbody > tr:nth-child(even) > td.ok  { background: #cceecc; }
table > tbody > tr:nth-child(odd)  > td.good,
table > tbody > tr:nth-child(odd)  > td.ok  { background: #ddffdd; }
table > tbody > tr:nth-child(even) > td.bad,
table > tbody > tr:nth-child(even) > td.tbd { background: #eecccc; }
table > tbody > tr:nth-child(odd)  > td.bad,
table > tbody > tr:nth-child(odd)  > td.tbd { background: #ffdddd; }
table > tbody > tr:nth-child(even) > td.test,
table > tbody > tr:nth-child(even) > td.wip { background: #eeeecc; }
table > tbody > tr:nth-child(odd)  > td.test,
table > tbody > tr:nth-child(odd)  > td.wip { background: #ffffdd; }

table > tbody > tr.importance {
    border-top: solid 2px black;
}
