<table class="build-status">
  <caption>Repo Build Status</caption>
  <thead>
    <tr>
      <th colspan="2">source tree</th>
      <th colspan="2">buildsys</th>
      <th colspan="6">make</th>
    </tr>
    <tr>
      <th>repo name</th>
      <th>git sha</th>
      <th><span title="autoreconf or autogen.sh
Initialize the build system in the local source tree.">auto</span></th>
      <th><span title="configure
Configure the build system for the local system.">cfg</span></th>
      <th><span title="make ${targets[0]}
Build programs, libraries, documentation, and the like.">all</span></th>
      <th><span title="make ${targets[1]}
Install programs, libraries, documentation, and the like.">inst</span></th>
      <th><span title="make ${targets[2]}
Run checks on uninstalled software.">chk</span></th>
      <th><span title="make ${targets[3]}
Run checks on installed software.">ichk</span></th>
      <th><span title="make ${targets[4]}
Create tarball for source code distribution.">dist</span></th>
      <th><span title="make ${targets[5]}
Create tarball for source code distribution, running a number of additional checks during a test build.">dchk</span></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href='https://github.com/gphoto/libgphoto2' title='git clone http://github.com/gphoto/libgphoto2.git'>libgphoto2</a></td>
      <td class='succ'><a href='https://github.com/gphoto/libgphoto2/tree/d7bf38f65666a668ace7d1e8f67399a4999b2746/' title='git clone OK'>d7bf38f6</a></td>
      <td class='succ'><a href='/dev/build-status/d7bf38f65666a668ace7d1e8f67399a4999b2746.autoreconf.log.txt' title='autoreconf OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/d7bf38f65666a668ace7d1e8f67399a4999b2746.configure.log.txt' title='configure OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/d7bf38f65666a668ace7d1e8f67399a4999b2746.make-all.log.txt' title='make all OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/d7bf38f65666a668ace7d1e8f67399a4999b2746.make-install.log.txt' title='make install OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/d7bf38f65666a668ace7d1e8f67399a4999b2746.make-check.log.txt' title='make check OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/d7bf38f65666a668ace7d1e8f67399a4999b2746.make-installcheck.log.txt' title='make installcheck OK'>OK</a></td>
      <td class='fail'><a href='/dev/build-status/d7bf38f65666a668ace7d1e8f67399a4999b2746.make-dist.log.txt' title='make dist FAIL
See the linked log file for more details.'>FAIL</a></td>
      <td class='fail'><span title='make distcheck SKIP
make distcheck step skipped due to failing of prerequisite step(s).'>skip</span></td>
    </tr>
    <tr>
      <td><a href='https://github.com/gphoto/gphoto2' title='git clone http://github.com/gphoto/gphoto2.git'>gphoto2</a></td>
      <td class='succ'><a href='https://github.com/gphoto/gphoto2/tree/a3314abf300f1b751c102eba6a92a4c23663f264/' title='git clone OK'>a3314abf</a></td>
      <td class='succ'><a href='/dev/build-status/a3314abf300f1b751c102eba6a92a4c23663f264.autoreconf.log.txt' title='autoreconf OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/a3314abf300f1b751c102eba6a92a4c23663f264.configure.log.txt' title='configure OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/a3314abf300f1b751c102eba6a92a4c23663f264.make-all.log.txt' title='make all OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/a3314abf300f1b751c102eba6a92a4c23663f264.make-install.log.txt' title='make install OK'>OK</a></td>
      <td class='fail'><a href='/dev/build-status/a3314abf300f1b751c102eba6a92a4c23663f264.make-check.log.txt' title='make check FAIL
See the linked log file for more details.'>FAIL</a></td>
      <td class='succ'><a href='/dev/build-status/a3314abf300f1b751c102eba6a92a4c23663f264.make-installcheck.log.txt' title='make installcheck OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/a3314abf300f1b751c102eba6a92a4c23663f264.make-dist.log.txt' title='make dist OK'>OK</a></td>
      <td class='fail'><span title='make distcheck SKIP
make distcheck step skipped due to failing of prerequisite step(s).'>skip</span></td>
    </tr>
    <tr>
      <td><a href='https://github.com/gphoto/gtkam' title='git clone http://github.com/gphoto/gtkam.git'>gtkam</a></td>
      <td class='succ'><a href='https://github.com/gphoto/gtkam/tree/b85564d10ec5a7454dfadb63be33e825fbf1daaf/' title='git clone OK'>b85564d1</a></td>
      <td class='succ'><a href='/dev/build-status/b85564d10ec5a7454dfadb63be33e825fbf1daaf.autogen.log.txt' title='autogen.sh OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/b85564d10ec5a7454dfadb63be33e825fbf1daaf.configure.log.txt' title='configure OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/b85564d10ec5a7454dfadb63be33e825fbf1daaf.make-all.log.txt' title='make all OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/b85564d10ec5a7454dfadb63be33e825fbf1daaf.make-install.log.txt' title='make install OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/b85564d10ec5a7454dfadb63be33e825fbf1daaf.make-check.log.txt' title='make check OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/b85564d10ec5a7454dfadb63be33e825fbf1daaf.make-installcheck.log.txt' title='make installcheck OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/b85564d10ec5a7454dfadb63be33e825fbf1daaf.make-dist.log.txt' title='make dist OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/b85564d10ec5a7454dfadb63be33e825fbf1daaf.make-distcheck.log.txt' title='make distcheck OK'>OK</a></td>
    </tr>
    <tr>
      <td><a href='https://github.com/gphoto/gphotofs' title='git clone http://github.com/gphoto/gphotofs.git'>gphotofs</a></td>
      <td class='succ'><a href='https://github.com/gphoto/gphotofs/tree/42422c3206244d72d50310c26c066c25a6d87459/' title='git clone OK'>42422c32</a></td>
      <td class='succ'><a href='/dev/build-status/42422c3206244d72d50310c26c066c25a6d87459.autoreconf.log.txt' title='autoreconf OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/42422c3206244d72d50310c26c066c25a6d87459.configure.log.txt' title='configure OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/42422c3206244d72d50310c26c066c25a6d87459.make-all.log.txt' title='make all OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/42422c3206244d72d50310c26c066c25a6d87459.make-install.log.txt' title='make install OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/42422c3206244d72d50310c26c066c25a6d87459.make-check.log.txt' title='make check OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/42422c3206244d72d50310c26c066c25a6d87459.make-installcheck.log.txt' title='make installcheck OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/42422c3206244d72d50310c26c066c25a6d87459.make-dist.log.txt' title='make dist OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/42422c3206244d72d50310c26c066c25a6d87459.make-distcheck.log.txt' title='make distcheck OK'>OK</a></td>
    </tr>
    <tr>
      <td><a href='https://github.com/gphoto/libgphoto2-python' title='git clone http://github.com/gphoto/libgphoto2-python.git'>libgphoto2-python</a></td>
      <td class='succ'><a href='https://github.com/gphoto/libgphoto2-python/tree/e0b9aa244f205af5fab3ba6f03eaa9f8567a0d59/' title='git clone OK'>e0b9aa24</a></td>
      <td class='succ'><a href='/dev/build-status/e0b9aa244f205af5fab3ba6f03eaa9f8567a0d59.autoreconf.log.txt' title='autoreconf OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/e0b9aa244f205af5fab3ba6f03eaa9f8567a0d59.configure.log.txt' title='configure OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/e0b9aa244f205af5fab3ba6f03eaa9f8567a0d59.make-all.log.txt' title='make all OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/e0b9aa244f205af5fab3ba6f03eaa9f8567a0d59.make-install.log.txt' title='make install OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/e0b9aa244f205af5fab3ba6f03eaa9f8567a0d59.make-check.log.txt' title='make check OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/e0b9aa244f205af5fab3ba6f03eaa9f8567a0d59.make-installcheck.log.txt' title='make installcheck OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/e0b9aa244f205af5fab3ba6f03eaa9f8567a0d59.make-dist.log.txt' title='make dist OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/e0b9aa244f205af5fab3ba6f03eaa9f8567a0d59.make-distcheck.log.txt' title='make distcheck OK'>OK</a></td>
    </tr>
    <tr>
      <td><a href='https://github.com/gphoto/libgphoto2-sharp' title='git clone http://github.com/gphoto/libgphoto2-sharp.git'>libgphoto2-sharp</a></td>
      <td class='succ'><a href='https://github.com/gphoto/libgphoto2-sharp/tree/349ec6181268265a1663c0e39cf6a6500cd80885/' title='git clone OK'>349ec618</a></td>
      <td class='succ'><a href='/dev/build-status/349ec6181268265a1663c0e39cf6a6500cd80885.autoreconf.log.txt' title='autoreconf OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/349ec6181268265a1663c0e39cf6a6500cd80885.configure.log.txt' title='configure OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/349ec6181268265a1663c0e39cf6a6500cd80885.make-all.log.txt' title='make all OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/349ec6181268265a1663c0e39cf6a6500cd80885.make-install.log.txt' title='make install OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/349ec6181268265a1663c0e39cf6a6500cd80885.make-check.log.txt' title='make check OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/349ec6181268265a1663c0e39cf6a6500cd80885.make-installcheck.log.txt' title='make installcheck OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/349ec6181268265a1663c0e39cf6a6500cd80885.make-dist.log.txt' title='make dist OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/349ec6181268265a1663c0e39cf6a6500cd80885.make-distcheck.log.txt' title='make distcheck OK'>OK</a></td>
    </tr>
    <tr>
      <td><a href='https://github.com/gphoto/gphoto2-manual' title='git clone http://github.com/gphoto/gphoto2-manual.git'>gphoto2-manual</a></td>
      <td class='succ'><a href='https://github.com/gphoto/gphoto2-manual/tree/e2db5bae5136d580795731dbe95743318c92fccc/' title='git clone OK'>e2db5bae</a></td>
      <td class='succ'><a href='/dev/build-status/e2db5bae5136d580795731dbe95743318c92fccc.autoreconf.log.txt' title='autoreconf OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/e2db5bae5136d580795731dbe95743318c92fccc.configure.log.txt' title='configure OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/e2db5bae5136d580795731dbe95743318c92fccc.make-all.log.txt' title='make all OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/e2db5bae5136d580795731dbe95743318c92fccc.make-install.log.txt' title='make install OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/e2db5bae5136d580795731dbe95743318c92fccc.make-check.log.txt' title='make check OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/e2db5bae5136d580795731dbe95743318c92fccc.make-installcheck.log.txt' title='make installcheck OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/e2db5bae5136d580795731dbe95743318c92fccc.make-dist.log.txt' title='make dist OK'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/e2db5bae5136d580795731dbe95743318c92fccc.make-distcheck.log.txt' title='make distcheck OK'>OK</a></td>
    </tr>
  </tbody>
</table>
