<table class="build-status">
  <caption>Repo Build Status</caption>
  <thead>
    <tr>
      <th colspan="2">source tree</th>
      <th colspan="2">buildsys</th>
      <th colspan="6">make</th>
    </tr>
    <tr>
      <th>repo name</th>
      <th>git sha</th>
      <th><a href="#" title="autoreconf or autogen.sh">auto</a></th>
      <th><a href="#" title="configure">cfg</a></th>
      <th><a href="#" title="all">all</a></th>
      <th><a href="#" title="install">inst</a></th>
      <th><a href="#" title="check">chk</a></th>
      <th><a href="#" title="installcheck">ichk</a></th>
      <th><a href="#" title="dist">dist</a></th>
      <th><a href="#" title="distcheck">dchk</a></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><a href='https://github.com/gphoto/libgphoto2' title='git clone http://github.com/gphoto/libgphoto2.git'>libgphoto2</a></td>
      <td class='succ'><a href='https://github.com/gphoto/libgphoto2/tree/d7bf38f65666a668ace7d1e8f67399a4999b2746/'>d7bf38f6</a></td>
      <td class='succ'><a href='/dev/build-status/d7bf38f65666a668ace7d1e8f67399a4999b2746.autoreconf.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/d7bf38f65666a668ace7d1e8f67399a4999b2746.configure.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/d7bf38f65666a668ace7d1e8f67399a4999b2746.make-all.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/d7bf38f65666a668ace7d1e8f67399a4999b2746.make-install.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/d7bf38f65666a668ace7d1e8f67399a4999b2746.make-check.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/d7bf38f65666a668ace7d1e8f67399a4999b2746.make-installcheck.log.txt'>OK</a></td>
      <td class='fail'><a href='/dev/build-status/d7bf38f65666a668ace7d1e8f67399a4999b2746.make-dist.log.txt'>FAIL</a></td>
      <td class='fail'>skip</td>
    </tr>
    <tr>
      <td><a href='https://github.com/gphoto/gphoto2' title='git clone http://github.com/gphoto/gphoto2.git'>gphoto2</a></td>
      <td class='succ'><a href='https://github.com/gphoto/gphoto2/tree/a3314abf300f1b751c102eba6a92a4c23663f264/'>a3314abf</a></td>
      <td class='succ'><a href='/dev/build-status/a3314abf300f1b751c102eba6a92a4c23663f264.autoreconf.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/a3314abf300f1b751c102eba6a92a4c23663f264.configure.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/a3314abf300f1b751c102eba6a92a4c23663f264.make-all.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/a3314abf300f1b751c102eba6a92a4c23663f264.make-install.log.txt'>OK</a></td>
      <td class='fail'><a href='/dev/build-status/a3314abf300f1b751c102eba6a92a4c23663f264.make-check.log.txt'>FAIL</a></td>
      <td class='succ'><a href='/dev/build-status/a3314abf300f1b751c102eba6a92a4c23663f264.make-installcheck.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/a3314abf300f1b751c102eba6a92a4c23663f264.make-dist.log.txt'>OK</a></td>
      <td class='fail'>skip</td>
    </tr>
    <tr>
      <td><a href='https://github.com/gphoto/gtkam' title='git clone http://github.com/gphoto/gtkam.git'>gtkam</a></td>
      <td class='succ'><a href='https://github.com/gphoto/gtkam/tree/b85564d10ec5a7454dfadb63be33e825fbf1daaf/'>b85564d1</a></td>
      <td class='succ'><a href='/dev/build-status/b85564d10ec5a7454dfadb63be33e825fbf1daaf.autogen.log.txt'>autogen</a></td>
      <td class='succ'><a href='/dev/build-status/b85564d10ec5a7454dfadb63be33e825fbf1daaf.configure.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/b85564d10ec5a7454dfadb63be33e825fbf1daaf.make-all.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/b85564d10ec5a7454dfadb63be33e825fbf1daaf.make-install.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/b85564d10ec5a7454dfadb63be33e825fbf1daaf.make-check.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/b85564d10ec5a7454dfadb63be33e825fbf1daaf.make-installcheck.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/b85564d10ec5a7454dfadb63be33e825fbf1daaf.make-dist.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/b85564d10ec5a7454dfadb63be33e825fbf1daaf.make-distcheck.log.txt'>OK</a></td>
    </tr>
    <tr>
      <td><a href='https://github.com/gphoto/gphotofs' title='git clone http://github.com/gphoto/gphotofs.git'>gphotofs</a></td>
      <td class='succ'><a href='https://github.com/gphoto/gphotofs/tree/42422c3206244d72d50310c26c066c25a6d87459/'>42422c32</a></td>
      <td class='succ'><a href='/dev/build-status/42422c3206244d72d50310c26c066c25a6d87459.autoreconf.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/42422c3206244d72d50310c26c066c25a6d87459.configure.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/42422c3206244d72d50310c26c066c25a6d87459.make-all.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/42422c3206244d72d50310c26c066c25a6d87459.make-install.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/42422c3206244d72d50310c26c066c25a6d87459.make-check.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/42422c3206244d72d50310c26c066c25a6d87459.make-installcheck.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/42422c3206244d72d50310c26c066c25a6d87459.make-dist.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/42422c3206244d72d50310c26c066c25a6d87459.make-distcheck.log.txt'>OK</a></td>
    </tr>
    <tr>
      <td><a href='https://github.com/gphoto/libgphoto2-python' title='git clone http://github.com/gphoto/libgphoto2-python.git'>libgphoto2-python</a></td>
      <td class='succ'><a href='https://github.com/gphoto/libgphoto2-python/tree/e0b9aa244f205af5fab3ba6f03eaa9f8567a0d59/'>e0b9aa24</a></td>
      <td class='succ'><a href='/dev/build-status/e0b9aa244f205af5fab3ba6f03eaa9f8567a0d59.autoreconf.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/e0b9aa244f205af5fab3ba6f03eaa9f8567a0d59.configure.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/e0b9aa244f205af5fab3ba6f03eaa9f8567a0d59.make-all.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/e0b9aa244f205af5fab3ba6f03eaa9f8567a0d59.make-install.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/e0b9aa244f205af5fab3ba6f03eaa9f8567a0d59.make-check.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/e0b9aa244f205af5fab3ba6f03eaa9f8567a0d59.make-installcheck.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/e0b9aa244f205af5fab3ba6f03eaa9f8567a0d59.make-dist.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/e0b9aa244f205af5fab3ba6f03eaa9f8567a0d59.make-distcheck.log.txt'>OK</a></td>
    </tr>
    <tr>
      <td><a href='https://github.com/gphoto/libgphoto2-sharp' title='git clone http://github.com/gphoto/libgphoto2-sharp.git'>libgphoto2-sharp</a></td>
      <td class='succ'><a href='https://github.com/gphoto/libgphoto2-sharp/tree/349ec6181268265a1663c0e39cf6a6500cd80885/'>349ec618</a></td>
      <td class='succ'><a href='/dev/build-status/349ec6181268265a1663c0e39cf6a6500cd80885.autoreconf.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/349ec6181268265a1663c0e39cf6a6500cd80885.configure.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/349ec6181268265a1663c0e39cf6a6500cd80885.make-all.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/349ec6181268265a1663c0e39cf6a6500cd80885.make-install.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/349ec6181268265a1663c0e39cf6a6500cd80885.make-check.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/349ec6181268265a1663c0e39cf6a6500cd80885.make-installcheck.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/349ec6181268265a1663c0e39cf6a6500cd80885.make-dist.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/349ec6181268265a1663c0e39cf6a6500cd80885.make-distcheck.log.txt'>OK</a></td>
    </tr>
    <tr>
      <td><a href='https://github.com/gphoto/gphoto2-manual' title='git clone http://github.com/gphoto/gphoto2-manual.git'>gphoto2-manual</a></td>
      <td class='succ'><a href='https://github.com/gphoto/gphoto2-manual/tree/558402b6de5721b7d7cf1928c1ea95e414ae7900/'>558402b6</a></td>
      <td class='succ'><a href='/dev/build-status/558402b6de5721b7d7cf1928c1ea95e414ae7900.autoreconf.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/558402b6de5721b7d7cf1928c1ea95e414ae7900.configure.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/558402b6de5721b7d7cf1928c1ea95e414ae7900.make-all.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/558402b6de5721b7d7cf1928c1ea95e414ae7900.make-install.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/558402b6de5721b7d7cf1928c1ea95e414ae7900.make-check.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/558402b6de5721b7d7cf1928c1ea95e414ae7900.make-installcheck.log.txt'>OK</a></td>
      <td class='succ'><a href='/dev/build-status/558402b6de5721b7d7cf1928c1ea95e414ae7900.make-dist.log.txt'>OK</a></td>
      <td class='fail'><a href='/dev/build-status/558402b6de5721b7d7cf1928c1ea95e414ae7900.make-distcheck.log.txt'>FAIL</a></td>
    </tr>
  </tbody>
</table>
